* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fffaf6;
  color: #3b2416;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 25px;
  background: #4b2e20;
  color: white;
}

nav {
  margin-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

#home {
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-bottom: 20px;
}

a,
button {
  display: inline-block;
  padding: 12px 22px;
  margin: 10px;
  background: #4b2e20;
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

input,
textarea {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

footer {
  text-align: center;
  padding: 25px;
  background: #4b2e20;
  color: white;
}